body{
	margin: 0;
	padding: 0;
	background: url(bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
.navbar{
	width: 100%;
	background: rgba(0,0,0,0.4);
	padding: 20px;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}
.navbar li{
	display: inline-block;
	margin: 15px;
	list-style: none;
	text-align: right;
}
.navbar li a{
	color: white;
	text-decoration: none;
	font-size: 25px;
	transition: all ease-in-out 250ms;
}
.box{
	width: 75%;
	background: rgba(0,0,0,0.6);
	padding: 2%;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}
.box-img{
	border-radius: 50%;
	width: 40%;
	height: 40%;	
}
.box h1{
	font-size: 4px;
	letter-spacing: 4px;
	font-weight: 100;
}
.box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}
.box p{
	text-align: justify;
}
ul{
	margin: 0;
	padding: 0;
}
.box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}
.box li a:hover{
	color: #b9b9b9;
}
.pagebox{
	width: 90%;
	background: rgba(0,0,0,0.8);
	padding: 40px;
	text-align: left;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}
.pagebox p{
	font-size: 30px;
	letter-spacing: 4px;
	font-weight: 100;
}
.pagebox h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.pagebox h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
	text-align: left;
}