body{
	margin: 0;
	padding: 0;
	background: url(bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
}
.navbar{
	width: 100%;
	background: rgba(0,0,0,0.4);
	padding: 12%;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}
.navbar li{
	display: inline-block;
	margin: 1.5%;
	list-style: none;
	text-align: right;
}
.navbar li a{
	color: white;
	text-decoration: none;
	font-size: 2.5p%;
	transition: all ease-in-out 250ms;
}
.box{
	width: 75%;
	background: rgba(0,0,0,0.6);
	padding: 2%;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}
.box-img{
	border-radius: 50%;
	width: 40%;
	height: 40%;	
}
.box p{
	text-align: justify;
}
ul{
	margin: 0;
	padding: 0;
}
.box li{
	display: inline-block;
	margin: 0.6%;
	list-style: none;
}
.box li a{
	color: white;
	text-decoration: none;
	font-size: 6%;
	transition: all ease-in-out 250ms;
}
.box li a:hover{
	color: #b9b9b9;
}
.pagebox{
	width: 90%;
	background: rgba(0,0,0,0.8);
	padding: 4%;
	text-align: left;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}
.pagebox p{
	font-size: 15%;
	letter-spacing: 4%;
	font-weight: 100;
}
